nav {
    display: flex;
    margin: 20px 0;

    li {
        list-style: none;
        padding: 20px;
        font-size: 18px;

        a {
            text-decoration: none;
            color: rgb(79, 144, 213);

            &:hover {
                text-decoration: underline;
            }
        }
    }

}